<!--This page will be about BMI calculator and how it works-->

<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>About</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ps-5 me-auto" href="/">BMI Calculator</a>
            <div class="d-flex flex-row align-items-end">
                <a class="btn text-white" href="/history">BMI History</a>
                <a class="btn text-white pe-5" href="/about">About</a>
            </div>
        </nav>
        <div class="container-fluid w-50 h-150 text-light glass shadow-4">
            <h1 class="text-center">About</h1>
            <p>BMI is a measure of body fat based on a person's weight and height. The BMI norms for males and females
                are generally the same. The calculation for BMI is as follows:</p>

            <p>
                BMI =
                <span style="font-size: 1.2em;">
                    weight(kg)
                    <span style="vertical-align: middle;">/</span>
                    height(m)<sup>2</sup>
                </span>
            </p>

            <p>The World Health Organization (WHO) provides the following BMI categories for both males and females:</p>

            <ul>
                <li>Underweight: BMI less than 18.5</li>
                <li>Normal weight: BMI 18.5 to 24.9</li>
                <li>Overweight: BMI 25 to 29.9</li>
                <li>Obesity Class I: BMI 30 to 34.9</li>
                <li>Obesity Class II: BMI 35 to 39.9</li>
                <li>Obesity Class III: BMI 40 or greater</li>
            </ul>

            <p>While the categories are the same for both genders, it's important to note that BMI has limitations and
                does not directly measure body fat percentage or distribution. Additionally, the distribution of body
                fat can vary between males and females, and other factors such as muscle mass and bone density can
                influence BMI.</p>
            <img src="views/image-bmi.png" class="img-fluid mx-auto d-block" width="50%" alt="bmi-image">
        </div>

        <footer class="bg-dark">
            <p class="text-light">Created by NURDAULET | SE-2201</p>
        </footer>
    </body>

    </html>